arabic-reshaper==3.0.1
asgiref==3.11.1
charset-normalizer==3.4.7
dj-database-url==3.1.2
Django==6.0.6
django-cors-headers==4.9.0
django-environ==0.13.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
et_xmlfile==2.0.0
gunicorn==26.0.0
numpy==2.4.6
openpyxl==3.1.5
packaging==26.2
pandas==3.0.3
pillow==12.2.0
psycopg==3.3.4
psycopg-binary==3.3.4
psycopg2-binary==2.9.12
PyJWT==2.13.0
python-barcode==0.16.1
python-bidi==0.6.10
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
reportlab==5.0.0
six==1.17.0
sqlparse==0.5.5
whitenoise==6.12.0